.frame {
  padding-top: 80px;
  height: 250px; // Нужно удалить при вставке на реальный сайт

  &__container {
    display: flex;
    background-color: #403F4E;
    border-radius: 17px;
    min-height: 77px;
  }

  &__column {
    flex-grow: 1;
    padding: 10px;
  }  
  
  &__header {
    position: relative;
    font-size: 11px;
    color: rgba(255,255,255,0.5);
    margin-bottom: 10px;

    img {
      margin-left: 5px;
      cursor: pointer;

      &:hover + .clue {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__delimiter {
    background-color: rgba(217,217,217,0.3);
    flex: 0 0 1px;
    height: inherit;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  &__logo {
    padding-left: 15px;
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 14px;
    }

    div.text {
      font-family: 'SF Pro Display', sans-serif;
      color: #FFF;

      h2 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      span {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }

  &__limit {
    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #FDCA40;
      border-radius: 7px;
      width: 178px;
      height: 30px;

      // Убираем выделение
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */

      cursor: pointer;

      span {
        font-size: 11px;
        font-weight: bold;
        transition: all 0.3s;
      }

      img {
        display: none;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        height: 16px;

        &.loading {
          display: block;
        }
      }

      &:hover {
        span {
          transform: translateY(-2px);
          box-shadow: 0px 4px 8px -2px rgba(34, 60, 80, 0.2);
          // text-shadow: rgba(34, 60, 80, 0.2) 2px 5px;
        }
      }

      &:active {
        span {
          transform: translateY(0);
          box-shadow: none;
          transition: none;
        }
      }

      
    }
  }

  &__coincidences {
  }

  &__analys {
  }

  &__download {
  }

  &__instruction {
    a {
      span {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 12px;
        color: white;
        margin-right: 10px;

        transition: color 0.3s;
      }

      img {
        width: 30px;
      }

      &:hover {
        span {
          color: #D32322;
        }
      }
    }
  }
}

.register {
  display: flex;
  align-items: center;
  height: 30px;  

  &__item {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    &:last-child {
      margin-right: 0;
    }
  }  

  &__img {
    height: 23px;

    &.h16 {
      height: 16px;
    }
  }

  &__value {
    color: white;
    font-size: 11px;
  }
}

.frame-download {
  display: flex;
  position: relative;

  &__select {
    display: flex;
    align-items: center;
    padding-left: 6px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    margin-right: 5px;

    background-color: #615D5D;
    color: white;
    font-size: 11px;
    width: 70px;
    height: 18px;
    border-radius: 7px;

    &::after {
      content: url("../image/icons/arrow-select.svg");
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
    }
  }

  &__button {
    height: 18px;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    top: 20px;
    background-color: #403F4E;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #FDCA40;
    width: 140px;

    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.open {
      max-height: 200px;
      visibility: visible;
    }
  }

  &__item {
    color: white;
    font-size: 12px;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 85%;
      height: 1px;
      background: rgba(217,217,217,0.3);
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    // Квадратик для галочки
    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      border: 2px solid #FDCA40;
      border-radius: 4px;
      box-sizing: border-box;
    }

    // Галочка
    &::before {
      // display: block;
      content: url('../image/icons/checked.svg');
      position: absolute;
      right: 4px;
      top: 6px;
      transition: transform 0.3s;
      transform: scale(0);
    }
  }

  &__input {
    display: none;

    // Кнопка выбрана
    &:checked + .frame-download__label::before {
      transform: scale(1);
    }
  }
}

.clue {
  position: absolute;
  bottom: 24px;
  right: 0;
  // padding-bottom: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  &__inner {
    background-color: #403F4E;
    border-radius: 6px;
    padding: 15px 10px;
    color: white;
    
    font-family: 'SF Pro Display', sans-serif;
    font-size: 11px;
    font-weight: 400;
  }
}