.frame {
  container-type: inline-size; 
  padding-bottom: 20px;

  position: relative; // Чтобы выпадающий список был сверху нижних блоков
  z-index: 70;
  
  // Нужно удалить при вставке на реальный сайт
  // padding-top: 80px;
  // height: 250px;
  // @container (max-width: 540px) {
  //   height: 500px;
  // }
  /////////////////////////////////////////////

  &__container {
    display: flex;
    background-color: #403F4E;
    border-radius: 17px;
    min-height: 77px;

    @container (max-width: 540px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    flex-grow: 1;
    padding: 10px;
    box-sizing: content-box;

    @container (max-width: 540px) {
      box-sizing: border-box;
    }
  }  
  
  &__header {
    position: relative;
    font-size: 11px;
    color: rgba(255,255,255,0.5);
    margin-bottom: 10px;

    @container (max-width: 765px) {
      min-height: 25px;
      margin-bottom: 0;
    }

    @container (max-width: 650px) {
      margin-bottom: 5px;
    }

    @container (max-width: 540px) {
      min-height: auto;
    }

    img {
      margin-left: 5px;
      height: 12px;
      cursor: pointer;

      @container (max-width: 790px) {
        margin-left: 2px;
      }

      &:hover + .clue {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__delimiter {
    background-color: rgba(217,217,217,0.3);
    flex: 0 0 1px;
    height: inherit;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  &__logo {
    padding-left: 15px;
    display: flex;
    align-items: center;

    @container (max-width: 888px) {
      flex: 0 0 36px;
      padding-left: 10px;
    }

    @container (max-width: 600px) {
      flex: 0 0 26px;
    }

    @container (max-width: 540px) {
      box-sizing: border-box;
      flex: 0 0 164px;
      // flex: 0 0 158px;
    }

    @container (max-width: 460px) {
      flex: 0 0 110px;
      justify-content: center;
    }

    img {
      height: 40px;
      margin-right: 14px;

      @container (max-width: 888px) {
        margin-right: 0;
      }

      @container (max-width: 600px) {
        height: 30px;
      }

      @container (max-width: 540px) {
        margin-right: 14px;
        height: 40px;
      }

      @container (max-width: 460px) {
        margin-right: 0;
      }
    }

    div.text {
      font-family: 'SF Pro Display', sans-serif;
      color: #FFF;

      @container (max-width: 888px) {
        display: none;
      }

      @container (max-width: 540px) {
        display: block;
      }

      @container (max-width: 460px) {
        display: none;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      span {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }

  &__limit {
    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #FDCA40;
      border-radius: 7px;
      width: 178px;
      height: 30px;

      transition: background-color 0.3s;

      // Убираем выделение
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */

      cursor: pointer;

      @container (max-width: 940px) {
        width: 140px;
      }

      @container (max-width: 600px) {
        width: 96px;

        &:has(.loading){
          background-color: rgba(253, 202, 64, 0.4) !important;
        }
      }
      
      @container (max-width: 540px) {
        width: 140px;
        &:has(.loading) {
          background-color: #FDCA40;
        }
      }

      @container (max-width: 375px) {
        width: 96px;

        &:has(.loading){
          background-color: rgba(253, 202, 64, 0.4) !important;
        }
      }

      span {
        font-size: 11px;
        font-weight: bold;
        transition: all 0.3s;
      }

      img {
        display: none;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        height: 16px;

        &.loading {
          display: block;

          @container (max-width: 600px) {
            right: 50%;
            transform: translateX(50%) translateY(-50%);
          }

          @container (max-width: 540px) {
            right: 5%;
            transform: translateY(-50%);
          }

          @container (max-width: 375px) {
            right: 50%;
            transform: translateX(50%) translateY(-50%);
          }
        }
      }

      &:hover {
        background-color: #FDDE88;
        // span {
          // transform: translateY(-2px);
          // box-shadow: 0px 4px 8px -2px rgba(34, 60, 80, 0.2);
          // text-shadow: rgba(34, 60, 80, 0.2) 2px 5px;
        // }
      }

      &:active {
        span {
          transform: translateY(0);
          box-shadow: none;
          transition: none;
        }
      }  
    }

    @container (max-width: 540px) {
      flex: 0 0 160px;      
    }

    @container (max-width: 375px) {
      flex: 0 0 116px;
    }
  }

  &__coincidences {
    @container (max-width: 760px) {
      flex: 0 0 90px;
    }

    @container (max-width: 540px) {
      flex: 1;

      & + .frame__delimiter {
        display: none;
      }
    }

    .start-analys {
      display: none;
      align-items: center;
      height: 30px;

      img {

      }

      span {
        color: white;
        font-size: 11px;
        margin-left: 5px;
      }
    }

    .codemp-error {
      display: none;
      color: white;
      font-size: 11px;
      max-width: 110px;
      line-height: 1.4;
    }
  }

  &__analys {
    @container (max-width: 790px) {
      flex: 0 0 140px;
    }

    @container (max-width: 690px) {
      flex: 0 0 90px;
    }

    @container (max-width: 540px) {
      flex: 0 0 164px;
      // flex: 0 0 158px;
    }

    @container (max-width: 460px) {
      flex: 0 0 160px;
    }

    @container (max-width: 355px) {
      flex: 0 0 110px;
    }
  }

  &__download {
    @container (max-width: 740px) {
      flex: 0 0 95px;

      .frame__header {
        max-width: 70px;
      }
    }

    @container (max-width: 690px) {
      flex: 0 0 110px;
    }

    @container (max-width: 650px) {
      flex: 0 0 70px;
    }

    @container (max-width: 540px) {
      flex: 0 0 160px;    
      
      .frame__header {
        max-width: unset;
      }
    }

    @container (max-width: 460px) {
      flex: 0 0 125px;

      .frame__header {
        min-height: 18px;
      }
    }

    @container (max-width: 375px) {
      flex: 0 0 116px;

      .frame__header {
        max-width: 70px;
      }
    }
  }

  &__instruction {
    @container (max-width: 460px) {
      .frame__header {
        min-height: 18px;
      }
    }

    a {
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      align-items: center;
      min-height: 30px;

      span {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 12px;
        color: white;
        margin-right: 10px;

        transition: color 0.3s;

        @container (max-width: 790px) {
          display: none;
        }

        @container (max-width: 540px) {
          display: block;
        }

        // @container (max-width: 460px) {
        //   display: n;
        // }

        @container (max-width: 325px) {
          display: none;
        }
      }

      img {
        width: 30px;
      }

      &:hover {
        span {
          color: #D32322;
        }
      }
    }

    @container (max-width: 420px) {
      flex: 1;

      a span {
        display: none;
      }
    }
  }
}

.frame-token {
  display: none;

  .frame__header {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    display: flex;
    align-items: center;

    width: 100%;
    height: 34px;
    padding-right: 6px;
    background-color: white;
    border: 1px solid #B7B7B7;
    border-radius: 7px;
    overflow: hidden;
  }

  &__input {
    padding-left: 6px;
    margin-right: 10px;
    height: 100%;
    width: 100%;

    outline: none;

    &::placeholder {
      font-size: 11px;
    }

    &_small {
      display: none;
    }
  }

  &__img-correct {
    display: none;
  }

  &__get-token {
    color: #FDCA40;
    text-decoration: underline;
  }
}


.register {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30px;  
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:last-child {
      margin-right: 0;
    }
  }  

  &__img {
    height: 23px;

    &.h16 {
      height: 16px;
    }

    &_disable {
      display: none;

      height: 23px;
  
      &.h16 {
        height: 16px;
      }
    }
  }

  &__value {
    color: white;
    font-size: 11px;
  }
}

.frame-download {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  min-height: 30px;

  &__select {
    display: flex;
    align-items: center;
    padding-left: 6px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    background-color: #615D5D;
    color: white;
    font-size: 11px;
    width: 70px;
    height: 18px;
    border-radius: 7px;

    -webkit-tap-highlight-color:transparent;

    // Убираем выделение
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */

    &::after {
      content: url("../image/icons/arrow-select.svg");
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
    }
  }

  &__button {
    height: 18px;
    cursor: pointer;
  }

  &__submenu {
    position: absolute;
    top: 28px;

    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.open {
      max-height: 230px;
      visibility: visible;
    }

  }

  &__list {
    background-color: #403F4E;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #FDCA40;
    width: 140px;
  }

  &__item {
    color: white;
    font-size: 12px;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 85%;
      height: 1px;
      background: rgba(217,217,217,0.3);
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    // Квадратик для галочки
    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      border: 2px solid #FDCA40;
      border-radius: 4px;
      box-sizing: border-box;
    }

    // Галочка
    &::before {
      // display: block;
      content: url('../image/icons/checked.svg');
      position: absolute;
      right: 4px;
      top: 6px;
      transition: transform 0.3s;
      transform: scale(0);
    }
  }

  &__input {
    display: none;

    // Кнопка выбрана
    &:checked + .frame-download__label::before {
      transform: scale(1);
    }
  }
}

.clue {
  position: absolute;
  // bottom: 24px;
  bottom: calc(100% + 13px);
  right: 0;
  // padding-bottom: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  &__inner {
    background-color: #403F4E;
    border-radius: 6px;
    padding: 15px 10px;
    color: white;
    
    font-family: 'SF Pro Display', sans-serif;
    font-size: 11px;
    font-weight: 400;

    @container (max-width: 540px) {
      // border: 1px solid #FDCA40;
      box-shadow: 0px 0px 8px 0px #FDCA40;
    }
  }
}

// Состояния
.frame {
  &.codemp-frame__start {
    .frame__logo {
      
    }

    .frame-token {
      display: block;
      flex: 1 1 270px;

      @container (max-width: 740px){
        &__input {
          &_large {
            display: none;
          }
  
          &_small {
            display: inline-block;
          }
        }
      }

      @container (max-width: 540px) {
        flex: 1 1 300px;
        
        &__input {
          &_large {
            display: inline-block;
          }
  
          &_small {
            display: none;
          }
        }
      }

      @container (max-width: 470px) {
        flex: 1 1 150px;
      }

      @container (max-width: 460px) {
        flex: 1 1 190px;
      }

      @container (max-width: 380px) {
        &__input {
          &_large {
            display: none;
          }
  
          &_small {
            display: inline-block;
          }
        }
      }
    }

    .frame__limit {
      display: none;
    }

    .frame__coincidences {
      display: none;
    }

    .frame__analys {
      @container (max-width: 710px) {
        flex: 0 0 90px;
      }

      @container (max-width: 540px) {
        flex: 0 0 164px;
      }

      @container (max-width: 435px) {
        flex: 0 0 150px;
      }

      @container (max-width: 380px) {
        flex: 0 0 110px;
      }

      .register__img {
        display: none;

        &_disable {
          display: block;
        }
      }

      .register__value {
        display: none;
      }

    }

    .frame__download {
      @container (max-width: 765px) {
        flex: 0 0 95px;

        .frame__header {
          max-width: 70px;
        }
      }

      @container (max-width: 540px) {
        flex: 0 0 130px;

        .frame__header {
          max-width: unset;
        }
      }
    }

    .frame__instruction {
      @container (max-width: 340px) {
        a span {
          display: none;
        }
      }
    }

    .frame__header {
      @container (max-width: 460px) {
        min-height: auto;
      }
    }
  }

  &.codemp-frame__before-analys {
    .frame__header {
      @container (max-width: 410px) {
        min-height: 24px;
      }
    }

    .frame__analys {
      .register__img {
        display: none;

        &_disable {
          display: block;
        }
      }

      .register__value {
        display: none;
      }
    }

    .frame__coincidences {
      .register {
        display: none;
      }

      .start-analys {
        display: flex;
      }
    }
  }

  &.codemp-frame__server-error {
    .frame__coincidences {
      @container (max-width: 760px) {
        flex: 0 0 100px;
      }

      @container (max-width: 620px) {
        flex: 0 0 90px;
      }

      @container (max-width: 600px) {
        flex: 0 0 100px;
      }

      @container (max-width: 560px) {
        flex: 0 0 90px;
      }

      @container (max-width: 540px) {
        flex: 1;
      }

      .register {
        display: none;
      }

      .codemp-error {
        display: block;
      }
    }
  }
}


/////////////////////// popup /////////////////////////

.popup-codemp-unit {
  &__content {
    background-color: #F5F5F5;
    border-radius: 12px;

    padding: 0;
    max-width: unset;
    width: 1070px;

    @media (max-width: 1130px) {
      width: 830px;
    }

    @media (max-width: 900px) {
      width: 740px;
    }

    @media (max-width: 768px) {
      width: 540px;
      border-radius: 0;
    }

    @media (max-width: 576px) {
      width: 420px;
    }

    @media (max-width: 768px) {
    }
  }

  &__header {
    position: relative;
    background-color: #403F4E;
    border-radius: inherit;
    margin-top: -1px;
    height: 67px;
    padding-right: 46px;
  }

  &__logo {
    padding: 0 16px;

    img {
      width: 30px;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);

    // @media (max-width: 900px) {
    //   padding-left: 14px;
    //   padding-right: 18px;
    // }

    // @media (max-width: 768px) {
    //   margin-left: unset;
    // }

    // @media (max-width: 576px) {
    //   padding-left: 18px;
    //   padding-right: 18px;
    // }

    .popup-close {
      position: relative;
      height: 16px;
      width: 16px;
      cursor: pointer;

      &::after , &::before {
        position: absolute;
        top: -3px;
        left: 8px;
        display: block;
        content: "";
        height: 22px;
        width: 1px;
        background-color: white;
        transition: background-color 0.3s;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
      
      &:hover {
        &::after, &::before {
          background-color: #FDCA40;
        }
      }
    }
  }

  &__main {
    padding: 16px;
    padding-bottom: 0;
  }

  &__list {
    // height: 400px;
    // min-height: 300px;
    // max-height: 60vh;
    max-height: 400px;
    padding-bottom: 16px;

    overflow-y: auto;

    // Scroll
    &::-webkit-scrollbar {
      width: 6px;
      // background: #403F4E;
    }
    &::-webkit-scrollbar-thumb {
      background: #848484;
      -webkit-border-radius: 8px;
      // -webkit-width: 5px;
      // border: 3px solid #403F4E;
    }


    @media (max-width: 768px) {
      // scrollbar-color: #403F4E #FFF;
      max-height: 70vh;
    }

  }
}

.popup-reviews {

  &__body {

  }

  &__content {
  }

  &__header {

  }
}

.popup-reviews-header {
  display: flex;
  align-items: center;
  min-height: 39px;

  @media (max-width: 768px) {
    flex-wrap: wrap;
    
    height: unset;
    min-height: 89px;

    border-radius: 0;
    padding-right: 0;
  }

  &__logo {
    
  }

  &__user {
    display: flex;
    gap: 4px;
    margin-right: 40px;
    font-weight: 500;

    padding: 8px 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2px;
    }

    span {
      color: white;
      font-size: 15px;
      font-weight: 500;
    }
  }

  &__nick {
    font-size: 14px;
    text-wrap: nowrap;

    .popup-reviews-header__nick-name {
      font-weight: 500;
      color: #F5CC5C;
    }

    .popup-reviews-header__nick-id {
      font-weight: 400; // Regular
      color: #848A92;
    }
  }

  &__col {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      // flex-direction: column;
      align-items: start;
      gap: 5px;
      align-items: end;

      & + .popup-reviews-header__delimiter {
        margin-left: auto;
      }
    }
  }

  &__count {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 15px;
    font-size: 15px;

    @media (max-width: 768px) {
      margin-left: auto;
      padding-right: 53px;
      margin-right: 0;
    }

    img {
      width: 24px;
    }

    span {
      color: white;
    }
  }

  &__delimiter {
    min-height: inherit;
    width: 1px;
    background-color: rgba(217,217,217,0.3);

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__center {
    display: flex;
    padding-left: 26px;
    gap: 8px;
    color: #51CB20;

    @media (max-width: 1130px) {
      flex: unset;
    }

    @media (max-width: 768px) {
      order: 10;
      flex: 0 0 100%;
      padding-left: 16px;
      background-color: #51CB20;
      color: white;
      margin-top: auto;
    }

    img {
      width: 32px;
    }

    span {
      color: white;
      font-size: 14px;
      font-weight: 400;
      padding: 8px 0;
      color: inherit;
    }
  }

  &__close {
    @media (max-width: 768px) {
      right: 8px;
      top: 8px;
      transform: unset;
    }
  }

}

//// Ячейки

.popup-reviews-table__header, 
.popup-reviews-table__row {
  border-bottom: 1px solid #EDEDED;
  &:last-child {
    border-bottom: none;
  }

  .cell {
      font-size: 14px;
      color: #292D32;
      // padding: 16px 0;
      padding: 14px 0;
      align-content: center;
      margin: 0;

      @media (max-width: 768px) {
        flex-direction: column;
        order: 2;
        // align-items: start;
      }

      &.stars {
        flex: 0 0 113px;
        text-align: start;
        padding-left: 20px;

        .cell-inner {
          display: flex;
          justify-content: start;
          align-items: center;
        }

        @media (max-width: 900px) {
          flex: 0 0 70px;
        }

        @media (max-width: 768px) {
          flex: 0 0 60px !important;
          order: 1;
          padding-top: 16px !important;
          border-bottom: 1px solid #F0F0F0;
        }

        &.red {
          .cell-inner {
            display: inline-flex;
            align-items: center;

            svg path {
              fill: #F03A47;
            }

            span {
              color: #F03A47;
            }
          }
        }

        img, svg {
          margin-right: 8px;
        }
      }

      &.data {
        flex: 0 0 115px;
        color: #848A92;
        font-weight: 500;

        @media (max-width: 768px) {
          padding-top: 16px !important;
          border-bottom: 1px solid #F0F0F0;
        }

        .cell-inner {
          line-height: 1.3;

          @media (max-width: 768px) {
            display: flex;
            gap: 5px;

            .data {
              color: #4F4F4F;
            }
          }
        }

        @media (max-width: 900px) {
          text-align: center;
        }

        @media (max-width: 768px) {
          flex: 1 !important;
          order: 1;
        }
      }

      &.feedback {
        flex: 0 0 457px;
        padding-right: 10px;
        box-sizing: border-box;
        font-weight: 400; // Regular

        @media (max-width: 1130px) {
          flex: 0 0 265px;
        }

        @media (max-width: 900px) {
          flex: 0 0 230px;
        }

        @media (max-width: 768px) {
          order: 3;
          color: #292D32;
          font-weight: 400; // Regular
        }

        .cell-inner .text {
          line-height: 1.3;
        }
      }

      &.goods {
        flex: 0 0 200px;
        padding-left: 30px;
        padding-right: 10px;
        box-sizing: border-box;

        .cell-inner {
          display: flex;
          align-items: center;
          gap: 13px;
        }

        @media (max-width: 768px) {
          order: 4;
          background-color: #F0F0F0;
          flex: 0 0 100px !important;
          justify-content: center;
          
          padding-left: 12px !important;
          padding-right: 12px !important;

          height: 29px;
          margin-top: 29px;
          margin-left: -95px;

          border-right: 1px solid #DDDDDD;

          .cell-inner {
            display: flex;
            gap: 5px;

            img {
              position: absolute;
              top: 8px;
              left: 8px;
              width: 71px;
              height: auto;
            }
          }

          .goods-name {
            display: none;
          }
        }

        img {
          height: 56px;
        }

        a {
          color: #8768AD;
        }

        .goods-name {
          margin-top: 5px;
          color: #848A92;

          @media (max-width: 768px) {
            margin-top: 0;
          }
        }
      }

      &.customer {
        flex: 1;
        box-sizing: border-box;

        @media (max-width: 768px) {
          order: 4;
          background-color: #F0F0F0;
          flex: 1 !important;
          height: 29px;
          margin-top: 29px;
          margin-right: -16px;

          padding-left: 12px !important;
        }

        a {
          color: #8768AD;
          line-height: 1.3;
        }
      }

      &.goods, &.customer {
        // background-color: #EEEEEE;
        box-sizing: border-box;
      }
  }
}

//// Ячейки

.popup-reviews-table {


  &__header {
    display: flex;
    align-items: stretch;
    min-height: 48px;
    border-radius: 8px;

    background: #F0F0F0;

    @media (max-width: 768px) {
      display: none;
    }

    .cell {
      font-weight: 700 !important;

      &.data {
        color: #292D32;
        
        @media (max-width: 900px) {
          text-align: center;
        }
      }
    }
  }

  &__list {

  }

  &__row {
    background: white;
    border-radius: 8px;
    margin-top: 4px;
    display: flex;
    align-items: stretch;
    overflow: hidden;

    @media (max-width: 768px) {
      position: relative;

      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 5px;

      padding-left: 95px;
      padding-right: 16px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .cell {
      @media (max-width: 768px) {
        flex: 1 1 100% !important;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 5px;

        padding: 5px !important;
      } 

      // &::before {
      //   @media (max-width: 768px) {
      //     // flex: 0 0 140px;
      //     content: attr(aria-label);
      //     text-align: start;
      //     color: #797979;
      //     font-weight: bold;
      //     font-size: 11px;
      //   }
      // }
    }
  }
}



/// Второй попап

.popup-codemp-analysis {

  &__body {
  }

  &__content {
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__logo {
  }

  &__popup-name {
    color: white;
    font-weight: 600; // Semi-Bold
    font-size: 15px;
  }

  &__main {
    padding: 16px;
    padding-bottom: 0;
  }
}

.popup-codemp-analysis-main {
  &__description {
    display: flex;
    align-items: start;
    gap: 8px;

    border-radius: 8px;
    background-color: #E5FFEC;
    padding-right: 160px;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 12px;

    @media (max-width: 900px) {
      padding-right: 20px;
    }

    img {
      width: 28px;
    }

    span {
      font-size: 12px;
      // font-weight: 400; // Regular
      line-height: 135%;
    }
  }

  &__search {
    margin-top: 16px;

    .codemp-header {
      font-size: 14px;

    }

    .codemp-form {
      display: flex;
      gap: 12px;
      margin-top: 10px;

      input[type='text'] {
        flex: 0 1 572px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #E3E3E3;
        padding: 0 16px;
        font-size: 14px;

        &::placeholder {
          font-size: 14px;
        }

        &:focus {
          outline: 1px solid #FDCA40;
        }
      }

      .codemp-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        background-color: #FDCA40;
        padding: 10px 24px;
        border-radius: 8px;

        transition: all 0.4s;

        cursor: pointer;

        &:hover {
          background-color: #ffdd81;
        }

        img {
          height: 20px;
        }

        span {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 600; // Semi-Bold
          color: #292D32;
        }
      }
    }
    
  }

  &__table {
    margin-top: 24px;
  }

  &__header, &__row {
    display: flex;
    align-items: center;

    .codemp-customer {
      flex: 0 0 305px;
      padding-left: 38px;
      padding-top: 5px;
      padding-bottom: 5px;

      @media (max-width: 1130px) {
        flex: 0 0 180px;
        padding-left: 28px;
      }
    }
    .codemp-count {
      flex: 0 0 175px;

      @media (max-width: 900px) {
        flex: 0 0 120px;
        padding-right: 20px;
      }
    }
    .codemp-sum {
      flex: 0 0 175px;

      @media (max-width: 900px) {
        flex: 0 0 120px;
        padding-right: 20px;
      }
    }
    .codemp-niche {
      flex: 0 0 175px;

      @media (max-width: 1130px) {
        flex: 0 0 140px;
        padding-right: 38px;
      }
    }
    .codemp-select {
      flex: 1;
    }    
  }

  &__header {
    background-color: #F0F0F0;
    min-height: 48px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600; // Semi-Bold

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    overflow-y: auto;
    max-height: 320px;
  }

  &__row {
    background-color: white;
    min-height: 72px;
    border-radius: 8px;
    margin-top: 4px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .codemp-cell {
      &::before {
        
        @media (max-width: 768px) {
          content: attr(aria-label);
          text-align: start;
          color: #797979;
          font-weight: bold;
          font-size: 11px;
        }
      }
    }

    .codemp-niche {
      img {
        display: none;
        width: 24px;
      }

      &.codemp-true {
        img {
          display: block;
        }
      }
    }

    .codemp-select {
      img {
        height: 32px;
        cursor: pointer;
      }

      .codemp-img-on {
        display: none;
      }

      &.codemp-on {
        .codemp-img-on {
          display: block;
        }

        .codemp-img-off {
          display: none;
        }
      }
    }
  }
}













///// Кнопочки отзывов

.button-feedback {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px 5px 8px;
  border-radius: 7px;
  background-color: #403F4E;
  width: fit-content;
  cursor: pointer;

  &__block {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    gap: 8px;
    margin-right: auto;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &__count {
    font-size: 11px;
    color: white;
  }

  &.empty {
    background-color: #DEDEDE;
    cursor: default;

    .button-feedback__img path {
      fill: #505356;
    }

    .button-feedback__count {
      color: #505356;
    }

    svg path {
      fill: #403F4E;
    }
  }
}












/* Сам WB */
.feedback__header {
  margin: 0 8px 0px 0 !important;
  align-self: center !important;
}