.frame {
  container-type: inline-size; 
  padding-bottom: 20px;

  position: relative; // Чтобы выпадающий список был сверху нижних блоков
  z-index: 70;
  
  // Нужно удалить при вставке на реальный сайт
  // padding-top: 80px;
  // height: 250px;
  // @container (max-width: 540px) {
  //   height: 500px;
  // }
  /////////////////////////////////////////////

  &__container {
    display: flex;
    background-color: #403F4E;
    border-radius: 17px;
    min-height: 77px;

    @container (max-width: 540px) {
      flex-wrap: wrap;
    }
  }

  &__column {
    flex-grow: 1;
    padding: 10px;
    box-sizing: content-box;

    @container (max-width: 540px) {
      box-sizing: border-box;
    }
  }  
  
  &__header {
    position: relative;
    font-size: 11px;
    color: rgba(255,255,255,0.5);
    margin-bottom: 10px;

    @container (max-width: 790px) {
      min-height: 25px;
    }

    @container (max-width: 540px) {
      min-height: auto;
    }

    img {
      margin-left: 5px;
      cursor: pointer;

      @container (max-width: 790px) {
        margin-left: 2px;
      }

      &:hover + .clue {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__delimiter {
    background-color: rgba(217,217,217,0.3);
    flex: 0 0 1px;
    height: inherit;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  &__logo {
    padding-left: 15px;
    display: flex;
    align-items: center;

    @container (max-width: 888px) {
      flex: 0 0 36px;
      padding-left: 10px;
    }

    @container (max-width: 600px) {
      flex: 0 0 26px;
    }

    @container (max-width: 540px) {
      box-sizing: border-box;
      flex: 0 0 164px;
      // flex: 0 0 158px;
    }

    @container (max-width: 460px) {
      flex: 0 0 110px;
      justify-content: center;
    }

    img {
      height: 40px;
      margin-right: 14px;

      @container (max-width: 888px) {
        margin-right: 0;
      }

      @container (max-width: 600px) {
        height: 30px;
      }

      @container (max-width: 540px) {
        margin-right: 14px;
        height: 40px;
      }

      @container (max-width: 460px) {
        margin-right: 0;
      }
    }

    div.text {
      font-family: 'SF Pro Display', sans-serif;
      color: #FFF;

      @container (max-width: 888px) {
        display: none;
      }

      @container (max-width: 540px) {
        display: block;
      }

      @container (max-width: 460px) {
        display: none;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }

      span {
        font-size: 11px;
        font-weight: 400;
      }
    }
  }

  &__limit {
    .button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: #FDCA40;
      border-radius: 7px;
      width: 178px;
      height: 30px;

      // Убираем выделение
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */

      cursor: pointer;

      @container (max-width: 940px) {
        width: 140px;
      }

      @container (max-width: 600px) {
        width: 96px;

        &:has(.loading){
          background-color: rgba(253, 202, 64, 0.4);
        }
      }
      
      @container (max-width: 540px) {
        width: 140px;
        &:has(.loading) {
          background-color: #FDCA40;
        }
      }

      @container (max-width: 375px) {
        width: 96px;

        &:has(.loading){
          background-color: rgba(253, 202, 64, 0.4);
        }
      }

      span {
        font-size: 11px;
        font-weight: bold;
        transition: all 0.3s;
      }

      img {
        display: none;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        height: 16px;

        &.loading {
          display: block;

          @container (max-width: 600px) {
            right: 50%;
            transform: translateX(50%) translateY(-50%);
          }

          @container (max-width: 540px) {
            right: 5%;
            transform: translateY(-50%);
          }

          @container (max-width: 375px) {
            right: 50%;
            transform: translateX(50%) translateY(-50%);
          }
        }
      }

      &:hover {
        span {
          transform: translateY(-2px);
          box-shadow: 0px 4px 8px -2px rgba(34, 60, 80, 0.2);
          // text-shadow: rgba(34, 60, 80, 0.2) 2px 5px;
        }
      }

      &:active {
        span {
          transform: translateY(0);
          box-shadow: none;
          transition: none;
        }
      }  
    }

    @container (max-width: 540px) {
      flex: 0 0 160px;      
    }

    @container (max-width: 375px) {
      flex: 0 0 116px;
    }
  }

  &__coincidences {
    @container (max-width: 410px) {
      flex: 1;
    }
  }

  &__analys {
    @container (max-width: 790px) {
      flex: 0 0 90px;
    }

    @container (max-width: 540px) {
      flex: 0 0 164px;
      // flex: 0 0 158px;
    }

    @container (max-width: 460px) {
      flex: 0 0 110px;
    }
  }

  &__download {
    @container (max-width: 730px) {
      flex: 0 0 70px;
    }

    @container (max-width: 540px) {
      flex: 0 0 160px;      
    }

    @container (max-width: 460px) {
      .frame__header {
        min-height: 18px;
      }
    }

    @container (max-width: 375px) {
      flex: 0 0 116px;
    }
  }

  &__instruction {
    @container (max-width: 460px) {
      .frame__header {
        min-height: 18px;
      }
    }

    a {
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      align-items: center;
      min-height: 30px;

      span {
        font-family: 'SF Pro Display', sans-serif;
        font-size: 12px;
        color: white;
        margin-right: 10px;

        transition: color 0.3s;

        @container (max-width: 325px) {
          display: none;
        }
      }

      img {
        width: 30px;
      }

      &:hover {
        span {
          color: #D32322;
        }
      }
    }

    @container (max-width: 410px) {
      flex: 1;
    }
  }
}

.register {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30px;  
  gap: 10px;

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:last-child {
      margin-right: 0;
    }
  }  

  &__img {
    height: 23px;

    &.h16 {
      height: 16px;
    }
  }

  &__value {
    color: white;
    font-size: 11px;
  }
}

.frame-download {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  min-height: 30px;

  &__select {
    display: flex;
    align-items: center;
    padding-left: 6px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;

    background-color: #615D5D;
    color: white;
    font-size: 11px;
    width: 70px;
    height: 18px;
    border-radius: 7px;

    -webkit-tap-highlight-color:transparent;

    &::after {
      content: url("../image/icons/arrow-select.svg");
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
    }
  }

  &__button {
    height: 18px;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    top: 28px;
    background-color: #403F4E;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #FDCA40;
    width: 140px;

    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.open {
      max-height: 200px;
      visibility: visible;
    }
  }

  &__item {
    color: white;
    font-size: 12px;
    font-family: 'SF Pro Display', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 85%;
      height: 1px;
      background: rgba(217,217,217,0.3);
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    // Квадратик для галочки
    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 16px;
      border: 2px solid #FDCA40;
      border-radius: 4px;
      box-sizing: border-box;
    }

    // Галочка
    &::before {
      // display: block;
      content: url('../image/icons/checked.svg');
      position: absolute;
      right: 4px;
      top: 6px;
      transition: transform 0.3s;
      transform: scale(0);
    }
  }

  &__input {
    display: none;

    // Кнопка выбрана
    &:checked + .frame-download__label::before {
      transform: scale(1);
    }
  }
}

.clue {
  position: absolute;
  // bottom: 24px;
  bottom: calc(100% + 13px);
  right: 0;
  // padding-bottom: 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  &__inner {
    background-color: #403F4E;
    border-radius: 6px;
    padding: 15px 10px;
    color: white;
    
    font-family: 'SF Pro Display', sans-serif;
    font-size: 11px;
    font-weight: 400;

    @container (max-width: 540px) {
      // border: 1px solid #FDCA40;
      box-shadow: 0px 0px 8px 0px #FDCA40;
    }
  }
}




/////////////////////// popup /////////////////////////

.popup-reviews {

  &__body {
  }

  &__content {
    padding: 0;
    background: transparent;
    max-width: unset;
    width: 825px;

    @media (max-width: 900px) {
      width: 740px;
    }

    @media (max-width: 768px) {
      width: 540px;
    }

    @media (max-width: 576px) {
      width: 420px;
    }
  }

  &__header {
    background-color: #403F4E;
    border-radius: 3px;
  }
}

.popup-reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 49px;

  @media (max-width: 576px) {
    flex-wrap: wrap;
  }

  &__logo {
    padding: 0 12px;

    img {
      width: 30px;

      @media (max-width: 768px) {
        width: 20px;
      }
    }
  }

  &__user {
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 14px;

    padding: 8px 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
      // flex: 0 0 160px;
      // flex: 0 0 130px;
      flex: 1;
      flex-direction: column;
      gap: 5px;
    }

    span {
      color: white;
      font-size: 16px;
      font-weight: 500;
      font-family: 'SF Pro Display', sans-serif;
    }
  }

  &__nick {
    background-color: #FDCA40;
    padding: 6px 13px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    text-align: center;
  }

  &__col {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: start;
      gap: 5px;
    }

    @media (max-width: 576px) {
      align-items: end;
    }
  }

  &__id {
    font-size: 14px;
    color: #848A92;
    margin-right: 15px;

    @media (max-width: 576px) {
      margin-right: 0;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;

    @media (max-width: 576px) {
      margin-right: 0;
    }

    img {
      width: 18px;
    }

    span {
      font-size: 12px;
      color: white;
    }
  }

  &__delimiter {
    min-height: inherit;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 1px;
    background-color: rgba(217,217,217,0.3);

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 20px;
    flex: 0 0 250px;

    @media (max-width: 900px) {
      flex: 0 0 200px
    }

    @media (max-width: 768px) {
      padding: 0 8px;
      gap: 8px;
      flex: 0 0 160px;
    }

    @media (max-width: 576px) {
      order: 10;
      flex: 0 0 100%;
      justify-content: center;
      box-sizing: border-box;
      border-top: 2px solid rgba(217, 217, 217, 0.3);
    }

    img {
      width: 25px;
    }

    span {
      color: white;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 0;
    }
  }

  &__close {
    padding-left: 70px;
    padding-right: 18px;

    @media (max-width: 900px) {
      padding-left: 14px;
      padding-right: 18px;
    }

    @media (max-width: 576px) {
      padding-left: 18px;
      padding-right: 18px;
    }

    .popup-close {
      position: relative;
      height: 16px;
      width: 16px;
      cursor: pointer;

      &::after , &::before {
        position: absolute;
        top: -3px;
        left: 8px;
        display: block;
        content: "";
        height: 22px;
        width: 1px;
        background-color: white;
        transition: background-color 0.3s;
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
      
      &:hover {
        &::after, &::before {
          background-color: #FDCA40;
        }
      }
    }
  }
}

//// Ячейки

.popup-reviews-table__header, 
.popup-reviews-table__row {
  border-bottom: 1px solid #EDEDED;
  &:last-child {
    border-bottom: none;
  }

  .cell {
      font-size: 14px;
      color: #292D32;
      // padding: 16px 0;
      padding: 8px 0;
      align-content: center;
      margin: 0;

      &.stars {
        flex: 0 0 90px;
        text-align: center;

        &.red {
          .cell-inner {
            display: inline-flex;
            align-items: center;

            svg path {
              fill: #F03A47;
            }

            span {
              color: #F03A47;
            }
          }
        }

        // @media (max-width: 768px) {
        //   flex: 0 0 60px;
        // }

        img, svg {
          margin-right: 8px;

          // @media (max-width: 768px) {
          //   margin-right: 2px;
          // }
        }
      }

      &.data {
        flex: 0 0 115px;
        color: #848A92;
        font-weight: 400;

        .cell-inner {
          line-height: 1.3;
        }

        // @media (max-width: 768px) {
        //   text-align: center;
        // }
      }

      &.feedback {
        flex: 0 0 265px;
        padding-right: 10px;
        box-sizing: border-box;

        @media (max-width: 900px) {
          flex: 0 0 230px;
        }

        // @media (max-width: 768px) {
        //   flex: 0 0 190px;
        // }

        .cell-inner .text {
          line-height: 1.3;
        }
      }

      &.goods {
        flex: 0 0 200px;
        padding-left: 30px;
        padding-right: 10px;
        box-sizing: border-box;

        // @media (max-width: 768px) {
        //   padding-left: 10px;
        // }

        a {
          color: #8768AD;
        }

        .goods-name {
          margin-top: 5px;
          color: #848A92;
        }
      }

      &.customer {
        a {
          color: #8768AD;
        }

        flex: 1;
        box-sizing: border-box;
      }

      &.goods, &.customer {
        // background-color: #EEEEEE;
        box-sizing: border-box;
      }
  }
}

//// Ячейки

.popup-reviews-table {
  background: white;
  padding: 8px;

  &__header {
    display: flex;
    align-items: stretch;

    background: #F0F0F0;
    // margin-bottom: 8px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 768px) {
      display: none;
    }

    .cell {
      font-weight: 500 !important;

      &.data {
        color: #292D32;
      }
    }
  }

  &__list {
    height: 330px;
    overflow-y: auto;
    margin-right: 6px;

    // Scroll
    scrollbar-color: #FFF #403F4E;

    @media (max-width: 768px) {
      scrollbar-color: #403F4E #FFF;
      height: 70vh;
    }
  }

  &__row {
    background: white;
    border-radius: 10px 0 0 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: stretch;
    overflow: hidden;

    @media (max-width: 768px) {
      flex-direction: column;
      border-radius: 10px;
      padding: 10px 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    .cell {
      @media (max-width: 768px) {
        flex: none !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px !important;

        &:nth-child(odd){
          background-color: white;
        }

        &:nth-child(even){
          background-color: #EEEEEE;
        }
      }

      &::before {
        @media (max-width: 768px) {
          flex: 0 0 140px;
          content: attr(aria-label);
          text-align: start;
        }
      }

      .cell-inner {
        @media (max-width: 768px) {
          text-align: right;
        }
      }
    }
  }
}


///// Кнопочки отзывов

.button-feedback {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px 5px 8px;
  border-radius: 7px;
  background-color: #403F4E;
  width: fit-content;
  cursor: pointer;
  margin-right: auto;

  &__img {
    width: 16px;
  }

  &__count {
    font-size: 11px;
    color: white;
  }

  &.empty {
    background-color: #DEDEDE;
    cursor: default;

    .button-feedback__img path {
      fill: #505356;
    }

    .button-feedback__count {
      color: #505356;
    }
  }
}