* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 500; /* Medium */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 985px;
  margin: 0px auto;
}

body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 101;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  box-sizing: border-box;
}
.popup__content {
  background-color: #fff;
  max-width: 800px;
  padding: 30px;
  transform: translate(0px, -100%);
  opacity: 0;
  transition: all 0.8s;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0px) rotate(0deg);
  opacity: 1;
}

.frame {
  container-type: inline-size;
  padding-bottom: 20px;
  position: relative;
  z-index: 70;
}
.frame__container {
  display: flex;
  background-color: #403F4E;
  border-radius: 17px;
  min-height: 77px;
}
@container (max-width: 540px) {
  .frame__container {
    flex-wrap: wrap;
  }
}
.frame__column {
  flex-grow: 1;
  padding: 10px;
  box-sizing: content-box;
}
@container (max-width: 540px) {
  .frame__column {
    box-sizing: border-box;
  }
}
.frame__header {
  position: relative;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
@container (max-width: 790px) {
  .frame__header {
    min-height: 25px;
  }
}
@container (max-width: 540px) {
  .frame__header {
    min-height: auto;
  }
}
.frame__header img {
  margin-left: 5px;
  height: 12px;
  cursor: pointer;
}
@container (max-width: 790px) {
  .frame__header img {
    margin-left: 2px;
  }
}
.frame__header img:hover + .clue {
  visibility: visible;
  opacity: 1;
}
.frame__delimiter {
  background-color: rgba(217, 217, 217, 0.3);
  flex: 0 0 1px;
  height: inherit;
  margin-top: 2px;
  margin-bottom: 8px;
}
.frame__logo {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
@container (max-width: 888px) {
  .frame__logo {
    flex: 0 0 36px;
    padding-left: 10px;
  }
}
@container (max-width: 600px) {
  .frame__logo {
    flex: 0 0 26px;
  }
}
@container (max-width: 540px) {
  .frame__logo {
    box-sizing: border-box;
    flex: 0 0 164px;
  }
}
@container (max-width: 460px) {
  .frame__logo {
    flex: 0 0 110px;
    justify-content: center;
  }
}
.frame__logo img {
  height: 40px;
  margin-right: 14px;
}
@container (max-width: 888px) {
  .frame__logo img {
    margin-right: 0;
  }
}
@container (max-width: 600px) {
  .frame__logo img {
    height: 30px;
  }
}
@container (max-width: 540px) {
  .frame__logo img {
    margin-right: 14px;
    height: 40px;
  }
}
@container (max-width: 460px) {
  .frame__logo img {
    margin-right: 0;
  }
}
.frame__logo div.text {
  font-family: "SF Pro Display", sans-serif;
  color: #FFF;
}
@container (max-width: 888px) {
  .frame__logo div.text {
    display: none;
  }
}
@container (max-width: 540px) {
  .frame__logo div.text {
    display: block;
  }
}
@container (max-width: 460px) {
  .frame__logo div.text {
    display: none;
  }
}
.frame__logo div.text h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.frame__logo div.text span {
  font-size: 11px;
  font-weight: 400;
}
.frame__limit .button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDCA40;
  border-radius: 7px;
  width: 178px;
  height: 30px;
  transition: background-color 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  cursor: pointer;
}
@container (max-width: 940px) {
  .frame__limit .button {
    width: 140px;
  }
}
@container (max-width: 600px) {
  .frame__limit .button {
    width: 96px;
  }
  .frame__limit .button:has(.loading) {
    background-color: rgba(253, 202, 64, 0.4) !important;
  }
}
@container (max-width: 540px) {
  .frame__limit .button {
    width: 140px;
  }
  .frame__limit .button:has(.loading) {
    background-color: #FDCA40;
  }
}
@container (max-width: 375px) {
  .frame__limit .button {
    width: 96px;
  }
  .frame__limit .button:has(.loading) {
    background-color: rgba(253, 202, 64, 0.4) !important;
  }
}
.frame__limit .button span {
  font-size: 11px;
  font-weight: bold;
  transition: all 0.3s;
}
.frame__limit .button img {
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  height: 16px;
}
.frame__limit .button img.loading {
  display: block;
}
@container (max-width: 600px) {
  .frame__limit .button img.loading {
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
}
@container (max-width: 540px) {
  .frame__limit .button img.loading {
    right: 5%;
    transform: translateY(-50%);
  }
}
@container (max-width: 375px) {
  .frame__limit .button img.loading {
    right: 50%;
    transform: translateX(50%) translateY(-50%);
  }
}
.frame__limit .button:hover {
  background-color: #FDDE88;
}
.frame__limit .button:active span {
  transform: translateY(0);
  box-shadow: none;
  transition: none;
}
@container (max-width: 540px) {
  .frame__limit {
    flex: 0 0 160px;
  }
}
@container (max-width: 375px) {
  .frame__limit {
    flex: 0 0 116px;
  }
}
@container (max-width: 410px) {
  .frame__coincidences {
    flex: 1;
  }
}
@container (max-width: 790px) {
  .frame__analys {
    flex: 0 0 90px;
  }
}
@container (max-width: 540px) {
  .frame__analys {
    flex: 0 0 164px;
  }
}
@container (max-width: 460px) {
  .frame__analys {
    flex: 0 0 110px;
  }
}
@container (max-width: 730px) {
  .frame__download {
    flex: 0 0 70px;
  }
}
@container (max-width: 540px) {
  .frame__download {
    flex: 0 0 160px;
  }
}
@container (max-width: 460px) {
  .frame__download .frame__header {
    min-height: 18px;
  }
}
@container (max-width: 375px) {
  .frame__download {
    flex: 0 0 116px;
  }
}
@container (max-width: 460px) {
  .frame__instruction .frame__header {
    min-height: 18px;
  }
}
.frame__instruction a {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  align-items: center;
  min-height: 30px;
}
.frame__instruction a span {
  font-family: "SF Pro Display", sans-serif;
  font-size: 12px;
  color: white;
  margin-right: 10px;
  transition: color 0.3s;
}
@container (max-width: 325px) {
  .frame__instruction a span {
    display: none;
  }
}
.frame__instruction a img {
  width: 30px;
}
.frame__instruction a:hover span {
  color: #D32322;
}
@container (max-width: 410px) {
  .frame__instruction {
    flex: 1;
  }
}

.register {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 30px;
  gap: 10px;
}
.register__item {
  display: flex;
  align-items: center;
  gap: 5px;
}
.register__item:last-child {
  margin-right: 0;
}
.register__img {
  height: 23px;
}
.register__img.h16 {
  height: 16px;
}
.register__value {
  color: white;
  font-size: 11px;
}

.frame-download {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
  min-height: 30px;
}
.frame-download__select {
  display: flex;
  align-items: center;
  padding-left: 6px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  background-color: #615D5D;
  color: white;
  font-size: 11px;
  width: 70px;
  height: 18px;
  border-radius: 7px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
.frame-download__select::after {
  content: url("../image/icons/arrow-select.svg");
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(calc(-50% - 2px));
}
.frame-download__button {
  height: 18px;
  cursor: pointer;
}
.frame-download__list {
  position: absolute;
  top: 28px;
  background-color: #403F4E;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #FDCA40;
  width: 140px;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.frame-download__list.open {
  max-height: 165px;
  visibility: visible;
}
.frame-download__item {
  color: white;
  font-size: 12px;
  font-family: "SF Pro Display", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.frame-download__item:last-child::after {
  display: none;
}
.frame-download__item::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 85%;
  height: 1px;
  background: rgba(217, 217, 217, 0.3);
}
.frame-download__label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.frame-download__label::after {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #FDCA40;
  border-radius: 4px;
  box-sizing: border-box;
}
.frame-download__label::before {
  content: url("../image/icons/checked.svg");
  position: absolute;
  right: 4px;
  top: 6px;
  transition: transform 0.3s;
  transform: scale(0);
}
.frame-download__input {
  display: none;
}
.frame-download__input:checked + .frame-download__label::before {
  transform: scale(1);
}

.clue {
  position: absolute;
  bottom: calc(100% + 13px);
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.clue__inner {
  background-color: #403F4E;
  border-radius: 6px;
  padding: 15px 10px;
  color: white;
  font-family: "SF Pro Display", sans-serif;
  font-size: 11px;
  font-weight: 400;
}
@container (max-width: 540px) {
  .clue__inner {
    box-shadow: 0px 0px 8px 0px #FDCA40;
  }
}

.popup-reviews__content {
  padding: 0;
  background: transparent;
  max-width: unset;
  width: 1070px;
}
@media (max-width: 1130px) {
  .popup-reviews__content {
    width: 830px;
  }
}
@media (max-width: 900px) {
  .popup-reviews__content {
    width: 740px;
  }
}
@media (max-width: 768px) {
  .popup-reviews__content {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .popup-reviews__content {
    width: 420px;
  }
}
.popup-reviews__header {
  background-color: #403F4E;
  border-radius: 3px;
}

.popup-reviews-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 49px;
}
@media (max-width: 576px) {
  .popup-reviews-header {
    flex-wrap: wrap;
  }
}
.popup-reviews-header__logo {
  padding: 0 12px;
}
.popup-reviews-header__logo img {
  width: 30px;
}
@media (max-width: 768px) {
  .popup-reviews-header__logo img {
    width: 20px;
  }
}
.popup-reviews-header__user {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-right: 14px;
  padding: 8px 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .popup-reviews-header__user {
    flex: 1;
    flex-direction: column;
    gap: 5px;
  }
}
.popup-reviews-header__user span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "SF Pro Display", sans-serif;
}
.popup-reviews-header__nick {
  background-color: #FDCA40;
  padding: 6px 13px;
  color: black;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
}
.popup-reviews-header__col {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .popup-reviews-header__col {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
}
@media (max-width: 576px) {
  .popup-reviews-header__col {
    align-items: end;
  }
}
.popup-reviews-header__id {
  font-size: 14px;
  color: #848A92;
  margin-right: 15px;
}
@media (max-width: 576px) {
  .popup-reviews-header__id {
    margin-right: 0;
  }
}
.popup-reviews-header__count {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}
@media (max-width: 576px) {
  .popup-reviews-header__count {
    margin-right: 0;
  }
}
.popup-reviews-header__count img {
  width: 18px;
}
.popup-reviews-header__count span {
  font-size: 12px;
  color: white;
}
.popup-reviews-header__delimiter {
  min-height: inherit;
  margin-top: 3px;
  margin-bottom: 3px;
  width: 1px;
  background-color: rgba(217, 217, 217, 0.3);
}
@media (max-width: 576px) {
  .popup-reviews-header__delimiter {
    display: none;
  }
}
.popup-reviews-header__center {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 20px;
  flex: 0 0 300px;
}
@media (max-width: 1130px) {
  .popup-reviews-header__center {
    flex: 0 0 250px;
  }
}
@media (max-width: 900px) {
  .popup-reviews-header__center {
    flex: 0 0 200px;
  }
}
@media (max-width: 768px) {
  .popup-reviews-header__center {
    padding: 0 8px;
    gap: 8px;
    flex: 0 0 160px;
  }
}
@media (max-width: 576px) {
  .popup-reviews-header__center {
    order: 10;
    flex: 0 0 100%;
    justify-content: center;
    box-sizing: border-box;
    border-top: 2px solid rgba(217, 217, 217, 0.3);
  }
}
.popup-reviews-header__center img {
  width: 25px;
}
.popup-reviews-header__center span {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
}
.popup-reviews-header__close {
  padding-left: 70px;
  padding-right: 18px;
}
@media (max-width: 900px) {
  .popup-reviews-header__close {
    padding-left: 14px;
    padding-right: 18px;
  }
}
@media (max-width: 576px) {
  .popup-reviews-header__close {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.popup-reviews-header__close .popup-close {
  position: relative;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.popup-reviews-header__close .popup-close::after, .popup-reviews-header__close .popup-close::before {
  position: absolute;
  top: -3px;
  left: 8px;
  display: block;
  content: "";
  height: 22px;
  width: 1px;
  background-color: white;
  transition: background-color 0.3s;
}
.popup-reviews-header__close .popup-close::after {
  transform: rotate(45deg);
}
.popup-reviews-header__close .popup-close::before {
  transform: rotate(-45deg);
}
.popup-reviews-header__close .popup-close:hover::after, .popup-reviews-header__close .popup-close:hover::before {
  background-color: #FDCA40;
}

.popup-reviews-table__header,
.popup-reviews-table__row {
  border-bottom: 1px solid #EDEDED;
}
.popup-reviews-table__header:last-child,
.popup-reviews-table__row:last-child {
  border-bottom: none;
}
.popup-reviews-table__header .cell,
.popup-reviews-table__row .cell {
  font-size: 14px;
  color: #292D32;
  padding: 8px 0;
  align-content: center;
  margin: 0;
}
.popup-reviews-table__header .cell.stars,
.popup-reviews-table__row .cell.stars {
  flex: 0 0 90px;
  text-align: center;
}
.popup-reviews-table__header .cell.stars .cell-inner,
.popup-reviews-table__row .cell.stars .cell-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 900px) {
  .popup-reviews-table__header .cell.stars,
  .popup-reviews-table__row .cell.stars {
    flex: 0 0 70px;
  }
}
.popup-reviews-table__header .cell.stars.red .cell-inner,
.popup-reviews-table__row .cell.stars.red .cell-inner {
  display: inline-flex;
  align-items: center;
}
.popup-reviews-table__header .cell.stars.red .cell-inner svg path,
.popup-reviews-table__row .cell.stars.red .cell-inner svg path {
  fill: #F03A47;
}
.popup-reviews-table__header .cell.stars.red .cell-inner span,
.popup-reviews-table__row .cell.stars.red .cell-inner span {
  color: #F03A47;
}
.popup-reviews-table__header .cell.stars img, .popup-reviews-table__header .cell.stars svg,
.popup-reviews-table__row .cell.stars img,
.popup-reviews-table__row .cell.stars svg {
  margin-right: 8px;
}
.popup-reviews-table__header .cell.data,
.popup-reviews-table__row .cell.data {
  flex: 0 0 115px;
  color: #848A92;
  font-weight: 400;
}
.popup-reviews-table__header .cell.data .cell-inner,
.popup-reviews-table__row .cell.data .cell-inner {
  line-height: 1.3;
}
@media (max-width: 900px) {
  .popup-reviews-table__header .cell.data,
  .popup-reviews-table__row .cell.data {
    text-align: center;
  }
}
.popup-reviews-table__header .cell.feedback,
.popup-reviews-table__row .cell.feedback {
  flex: 0 0 500px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1130px) {
  .popup-reviews-table__header .cell.feedback,
  .popup-reviews-table__row .cell.feedback {
    flex: 0 0 265px;
  }
}
@media (max-width: 900px) {
  .popup-reviews-table__header .cell.feedback,
  .popup-reviews-table__row .cell.feedback {
    flex: 0 0 230px;
  }
}
.popup-reviews-table__header .cell.feedback .cell-inner .text,
.popup-reviews-table__row .cell.feedback .cell-inner .text {
  line-height: 1.3;
}
.popup-reviews-table__header .cell.goods,
.popup-reviews-table__row .cell.goods {
  flex: 0 0 200px;
  padding-left: 30px;
  padding-right: 10px;
  box-sizing: border-box;
}
.popup-reviews-table__header .cell.goods a,
.popup-reviews-table__row .cell.goods a {
  color: #8768AD;
}
.popup-reviews-table__header .cell.goods .goods-name,
.popup-reviews-table__row .cell.goods .goods-name {
  margin-top: 5px;
  color: #848A92;
}
.popup-reviews-table__header .cell.customer,
.popup-reviews-table__row .cell.customer {
  flex: 1;
  box-sizing: border-box;
}
.popup-reviews-table__header .cell.customer a,
.popup-reviews-table__row .cell.customer a {
  color: #8768AD;
  line-height: 1.3;
}
.popup-reviews-table__header .cell.goods, .popup-reviews-table__header .cell.customer,
.popup-reviews-table__row .cell.goods,
.popup-reviews-table__row .cell.customer {
  box-sizing: border-box;
}

.popup-reviews-table {
  background: white;
  padding: 8px;
}
.popup-reviews-table__header {
  display: flex;
  align-items: stretch;
  background: #F0F0F0;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .popup-reviews-table__header {
    display: none;
  }
}
.popup-reviews-table__header .cell {
  font-weight: 500 !important;
}
.popup-reviews-table__header .cell.data {
  color: #292D32;
}
@media (max-width: 900px) {
  .popup-reviews-table__header .cell.data {
    text-align: center;
  }
}
.popup-reviews-table__list {
  max-height: 430px;
  overflow-y: auto;
  margin-right: 6px;
}
.popup-reviews-table__list::-webkit-scrollbar {
  width: 14px;
  background: #403F4E;
}
.popup-reviews-table__list::-webkit-scrollbar-thumb {
  background: #FFF;
  -webkit-border-radius: 4px;
  border: 3px solid #403F4E;
}
@media (max-width: 768px) {
  .popup-reviews-table__list {
    max-height: 70vh;
  }
}
.popup-reviews-table__row {
  background: white;
  border-radius: 10px 0 0 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
@media (max-width: 768px) {
  .popup-reviews-table__row {
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 0;
  }
}
.popup-reviews-table__row:last-child {
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .popup-reviews-table__row .cell {
    flex: none !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px !important;
  }
  .popup-reviews-table__row .cell:nth-child(odd) {
    background-color: white;
  }
  .popup-reviews-table__row .cell:nth-child(even) {
    background-color: #EEEEEE;
  }
}
@media (max-width: 768px) {
  .popup-reviews-table__row .cell::before {
    flex: 0 0 140px;
    content: attr(aria-label);
    text-align: start;
  }
}
@media (max-width: 360px) {
  .popup-reviews-table__row .cell::before {
    flex: 0 0 100px;
  }
}
@media (max-width: 768px) {
  .popup-reviews-table__row .cell .cell-inner {
    text-align: right;
  }
}

.button-feedback {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 5px 10px 5px 8px;
  border-radius: 7px;
  background-color: #403F4E;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin-right: auto;
}
.button-feedback svg {
  width: 16px;
  height: 16px;
}
.button-feedback__count {
  font-size: 11px;
  color: white;
}
.button-feedback.empty {
  background-color: #DEDEDE;
  cursor: default;
}
.button-feedback.empty .button-feedback__img path {
  fill: #505356;
}
.button-feedback.empty .button-feedback__count {
  color: #505356;
}/*# sourceMappingURL=style.css.map */